body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  #aeb6bf ;
}

header {
    
    display: flex;
    align-items: baseline;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: #fff 1px solid;
}
img {
  
    margin-right: 10px;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    border: #fff 1px solid;
}
#logo {
    width: 80px;
    height: 20px;
    border: #333 1px solid;
}

h1 {
    font-variant: small-caps;
    font-size: 48px;
    margin-top: -25px;
    text-align: center;
}

/* Nuevo estilo para el contenedor de personajes */
.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    align-items: center;
    /* flex-wrap: flow; 
    justify-content: baseline; 
    margin: auto;  */
}
main {
    background-color:  #aeb6bf ;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Añadido para centrar verticalmente */
    margin: 10px 0;
    padding: 30px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10%;
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    background-color: #333;
}


img  section  {
    border-radius: 5px;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
