body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

img {
    display: block;
    margin-right: 10px;
    width: 10%;
    height: auto;
}

h1 {
    font-variant: small-caps;
    font-size: 48px;
    margin-top: -25px;
    text-align: center;
}

main {
    width: 90%; /* El 90% del ancho de la ventana se reserva para el contenido principal */
    margin: auto; /* Centra el contenido principal en la página */
}

section {
    margin: 20px 0; /* Añadido un espacio superior e inferior a las secciones para mejorar la legibilidad */
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    width: 25%; /* Ocupa el 100% del ancho del contenedor principal (main) */
}

section img {
    max-width: 10%;
    height: auto;
}